{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <div class="page-header">
        <div class="container"> 
            <h1>Empresa - {{company.name}}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Nome: {{company.name}}</h2>
      </div>
      <div class="panel-body">
        <p>ID: {{company.id}}</p>
        <p>CNPJ: {{company.cnpj}}</p>
        <p>EMAIL: {{company.email}}</p>
        <p>FUNDADA: {{company.date|date('d-m-Y')}}
        <p><a href={{path("company_update", {'page':company.id}) }} class="btn btn-primary" role="button">Editar</a> <a href="{{path("company_delete", {'page':company.id}) }}" class="btn btn-default" role="button">Deletar</a>
        <a href={{path ("homepage")}} class="btn btn-default" role="button">Voltar</a></p>
        </div>
    </div>
</div>
{% endblock %}