{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <div class="page-header">
        <div class="container"> 
		    <h1>SYSocial - Receita Federal do Brasil</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

<div class="container">
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h2 class="form-signin-heading">Bem-vindo</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="username">Usuário:</label>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />

    <label for="password">Senha:</label>
    <input type="password" id="password" class="form-control" name="_password" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
</form>
</div>
{% endblock %}